{% block head_css %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
{% endblock %}
{% block head_js %}
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
{% endblock %}
{% block content %}

<meta http-equiv="refresh" content="30">

<img src="/plot.png" alt="my plot">
<table class="table">
    <thead>
    <tr>
        <th scope="col">Id</th>
        <th scope="col">Id_Sensor</th>
        <th scope="col">Batterie</th>
        <th scope="col">Status</th>
        <th scope="col">Température</th>
        <th scope="col">Humidité</th>
        <th scope="col">RSSI</th>
        <th scope="col">Date</th>
        <th scope="col">Ville</th>
        <th scope="col">Température</th>
    </tr>
    </thead>
    <tbody>
    {% for oldsensor in oldsensors %}
    <tr>
        <th scope="row">{{ oldsensor.id }}</th>
        <td>{{ oldsensor.sensor }}</td>
        <td>{{ oldsensor.battery }} V</td>
        <td>{{ oldsensor.status }}</td>
        <td>{{ oldsensor.temperature }} °C</td>
        <td>{{ oldsensor.humidite }} %</td>
        <td>{{ oldsensor.rssi }} dBm</td>
        <td>{{ oldsensor.date_create }}</td>
        <td>{{ city }}</td>
        <td>{{ temp_city }} °C</td>
    </tr>
    {% endfor %}

    </tbody>
</table>
{% endblock %}